.root {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #BF0200;
}

.logo {
  animation: spin infinite 3s linear, pulsate infinite 5s ease-in-out;
  height: 80px;
}

.header {
  background-color: #BF0200;
  height: 90px;
  padding: 20px;
  color: white;
}

.landing {
  margin: 0 auto;
  width: 275px;
  text-align: left;
}

.img {
  width: 100px;
  height: auto;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulsate {
  0% { transform: scale(0.65); }
  50% { transform: scale(1); }
  to { transform: scale(0.65); }
}
